#d3-container {
  padding-top: 40px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow-x: auto;
  margin-bottom: 50px;
}

.chart-title {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

.chart-subtitle {
  max-width: 1000px;
  font-size: 0.9rem;
  margin: 0.5rem 0;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #080808;
  font-style: italic;
}

.chart-source {
  max-width: 900px;
  font-size: 0.7rem;
  margin-top: 0;
  text-align: left;
  font-family: Arial, sans-serif;
  color: rgb(155, 155, 155);
}

#chart {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  position: relative;
  height: auto;
  aspect-ratio: 2 / 1;
  overflow: visible;
}

/* Ensure only one SVG is displayed */
#chart svg:not(:first-child) {
  display: none !important;
}

#tooltip {
  position: absolute;
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  color: #333;
  display: none;
  pointer-events: none;
  text-align: center;
  max-width: 200px;
  z-index: 999;
  font-family: Arial, sans-serif;
}

@media (max-width: 1020px) {
  #d3-container {
    padding: 0 10px;
  }

  .chart-title {
    font-size: 1.3rem;
  }

  .chart-subtitle {
    font-size: 0.9rem;
  }

  #d3-container {
    width: 100%;
    max-width: 700px;
  }
}

@media (max-width: 680px) {
  #chart {
    aspect-ratio: 4.5 / 5;
  }

  .chart-title {
    font-size: 1.1rem;
    text-align: left;
    margin: auto 1rem;
  }

  .chart-subtitle {
    font-size: 0.8rem;
    margin: auto 1rem;
    text-align: left;
    padding-top: 0.5rem;
  }

  #d3-container {
    width: 100%;
    max-width: 600px;
    padding: 2rem 0 0;
    margin: 0 auto;
  }

  .chart-source {
    margin-bottom: 1rem;
  }
}
